div.footer {
	width: 100%;
	background-color: black;
	color: white;
	bottom: 2px;
	position: relative;
	display: inline-block;
	margin: 10 0 0 0;
	padding: 0;
	border-top: 2px solid black;
}
p.copyright {
	font-size: smaller;
	float: left;
	padding: 0px;
	margin: 0px;
	border: 0px;
}