h1 {
	padding: 0px 5px 0px 5px;
	font-size: 3em;
	font-weight: bold;
	text-decoration: none;
	color: #120c2f;
	font: bold Optima, Arial, sans-serif;
}
h1 a {
	font: bold italic 0.458333333333333em Optima, Arial, sans-serif;
	color: #5C687B; /*dark grey*/
	letter-spacing: 0.15em;
	text-transform: uppercase;
}
h2 {
	color: #24185e;
	font-size: 1.5em;
}
	#main a:link, a:visited {text-decoration: none}
	#main a:focus, a:hover, a:active {text-decoration:none;}
	img.home_pics {border: none}
	p.image_links {white-space:nowrap}
#main p a {
	font-weight: bold;
	color: #2F4F4;
}
#main ul {
	list-style-type: square;
}
#main li {
	padding: 5px;
}
#main {
	top: 40px;
	border-radius: 0 0 5px 10px;
	margin: 10px;
}
/*same name but different formatting to the ones in mod_v_r*/
div.VARK_buttons {
	float: center;
	padding: 0px;
}

div.VARK_buttons button {
	border-radius: 5px;
	color: #5C687B;
	width: 75px;
	height: 75px;
	margin: 5px;
	display: inline-block;
	font-size: 200%;
	background-color: #e4e0f7;
	float: center;
}

div.VARK_buttons button:hover {
	background-color: #C6CCD5;
	cursor: pointer;
	color: white;
}