div.nav_links a {
	font-size: 1.25em;
	color: grey;
	padding: 0px 5px 0px 2.5px;
	font-weight: bold;
}
#quiz h1  {
	font-size: 2em;
	font: bold Optima, Arial, sans-serif;
	margin: 25px 0;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #120c2f;
}

div.main {
	top: 40px;
	border-radius: 0 0 5px 10px;
	margin: 10px;
}
#quiz ol {
   margin: 0 0 10px 20px;
   color:#24185e;
}

#quiz ol li {
   margin: 0 0 20px 0;
   padding: 4px 0;
   color: black;
}

#quiz h3 {
	color: #24185e;
	font-size: 1.5em;
	margin: 0 0 1px 0;
}

#results {
    color: #120c2f;
	font-size: 1.5em;
	padding-left: 10px;
}
